<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: url('images/bg.jpg') no-repeat center center fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .login-container {
            background-color: rgba(0, 0, 0, 0.4);;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 800px;
            text-align: center;
        }
        .login-container h2 {
            margin-bottom: 20px;
        }
        .login-container input[type="text"], .login-container input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-container input[type="submit"] {
            width: 100%;
            padding: 15px;
            background-color:#1877F2;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .login-container input[type="submit"]:hover {
            background-color: #45a049;
        }
        .role-selection {
            margin: 20px 0;
        }
        .role-selection input[type="radio"] {
            margin-right: 10px;
        }
        .role-selection label {
            margin-right: 20px;
        }
		
		.white-text{
		    color : white;
			}
    </style>
</head>
<body>

    <div class="login-container">
        <h2 class="white-text">WELCOME</h2>
        <form action="/login" method="post">
            <input type="text" placeholder="User Name" name="username" required>
            <input type="password" placeholder="Password" name="password" required>
            <div class="role-selection">
                <input type="radio" id="student" name="role" value="student" required>
                <label class="white-text" for="student">Student</label>
                <input type="radio" id="lecturer" name="role" value="lecturer">
                <label class="white-text" for="lecturer">Lecturer</label>
                <input type="radio" id="instructor" name="role" value="instructor">
                <label class="white-text" for="instructor">Instructor</label>
                <input type="radio" id="admin" name="role" value="admin">
                <label class="white-text" for="admin">Admin</label>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

</body>
</html>
