<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <style>
        body {
            background: url('bg.png') no-repeat center center fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .quiz-container {
             background-color: rgba(0, 0, 0, 0.4);
            width: 600px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .question {
            background-color: #C4C4C4;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        .answers {
			
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 0;
        }
        .answer {
			color:white;
            display: flex;
            align-items: center;
            font-size: 16px;
        }
        .answer input[type="radio"] {
            margin-right: 10px;
        }
        .finish-btn {
            background-color:#1877F2;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            float:right;
        }
    </style>
</head>
<body>
    <div class="quiz-container">
        <div class="question">Question 01</div>
        <div class="answers">
            <div class="answer"><input type="radio" name="q1"> Answer 01</div>
            <div class="answer"><input type="radio" name="q1"> Answer 02</div>
            <div class="answer"><input type="radio" name="q1"> Answer 03</div>
            <div class="answer"><input type="radio" name="q1"> Answer 04</div>
        </div>
        <div class="question">Question 02</div>
        <div class="answers">
            <div class="answer"><input type="radio" name="q2"> Answer 01</div>
            <div class="answer"><input type="radio" name="q2"> Answer 02</div>
            <div class="answer"><input type="radio" name="q2"> Answer 03</div>
            <div class="answer"><input type="radio" name="q2"> Answer 04</div>
        </div>
		<div class="question">Question 03</div>
        <div class="answers">
            <div class="answer"><input type="radio" name="q2"> Answer 01</div>
            <div class="answer"><input type="radio" name="q2"> Answer 02</div>
            <div class="answer"><input type="radio" name="q2"> Answer 03</div>
            <div class="answer"><input type="radio" name="q2"> Answer 04</div>
        </div>
        <button class="finish-btn"><b>Finish Attempt</b></button>
    </div>
</body>
</html>
