<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject Content AMC</title>
    <style>
        body {
            background: url('bg.png') no-repeat center center fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
         .back-arrow {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 50px;
            height: 50px;
            background-color: #F88379;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .back-arrow::before {
            content: '<=';
            font-size: 24px;
            color: #000;
        }
       <!-- .container1,container2 {
            display: flex;
            justify-content: space-around;
            width: 80%;
            margin-top: 100px;
        }-->
        .content-box {
            width: 400px;
            height: 500px;
            background-color: #C4C4C4;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #000;
            border-radius: 10px;
        }
        .content-box video{
            margin-right: 30px;
        }
		.vedio{
		color:white;
			font-size:h2;
			align-items:center-left;
		}
		.pdf{
		color:white;
			font-size:h2;
			align-items:center-right;
		}
		
		
    </style>
</head>
<body>
    <div class="back-arrow"></div>
    <table>
		<tr>
			<td><div class="vedio"><center>VEDIO</center></div></td>
			<td>&nbsp &nbsp &nbsp</td>
			
			<td><div class="pdf"><center>PDF</center></div></td>
		</tr>
		<tr>
			<td> <div class="content-box"></div></td>
			<td>&nbsp &nbsp &nbsp</td>
			
			<td> <div class="content-box"></div></td>
		</tr>
	</table>
</body>
</html>
